$color-primary-initial__dark: #e7343f;
$color-secondary-initial__dark: #fafafa;

$background-primary-initial__dark: #e7343f;
$background-secondary-initial__dark: #fafafa;

$text-color-initial__dark: #383C45;

$link-color-initial__dark: #ffffff;
