$color-primary-initial__light: #e7343f;
$color-secondary-initial__light: #fafafa;
$background-primary-initial__light: #e7343f;
$background-secondary-initial__light: #fafafa;
$text-color-initial__light: #383C45;
