#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  z-index: -1;

  object-fit: cover;
  object-position: center;
}

.video-wrapper {
  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); //Change as per your requirement
  }
}

.content {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
