@import "animations";

@mixin border-top-hover() {
  position: relative;

  &:hover {
    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      top: 0;
      left: 0;
      background: #ffffff;
      animation: border-top-animation 0.3s;
    }
  }
}
